@model IcerikViewModel
@{
    ViewData["Title"] = "Çerez Politikası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/Uploads/TopBanner/TopBanner_3.jpg">
    <div class="container pt-70 pb-20">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-white">ÇEREZ POLİTİKASI</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            @Html.Raw(Model.IcerikMetin)
        </div>
    </div>
</section>
