@{
    ViewData["Title"] = "Bakım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home" class="bg-lightest fullscreen layer-overlay overlay-dark-6" data-bg-img="/Uploads/TopBanner/TopBanner_2.jpg">
    <div class="display-table text-center">
        <div class="display-table-cell">
            <div class="container pt-0 pb-0">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="text-white font-weight-400 font-64 mb-0">Bakımdayız.</h1>
                        <p class="font-14 text-gray-lightgray">Özür dileriz.<br>En kısa sürede hizmet vermeye başlayacağız....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>